* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #FFFBF2;
}

.container {
    position: relative;
    max-width: 1366px;
    padding: 0;
    margin: 0 auto;
}

.start__section-main {
    position: absolute;
    left: 113px;
    top: 184px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;
}

.logo {
    margin-left: 57.5px;
}

.logo_text {
    display: none;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 0px 80px;
    margin-right: 57.5px;
}

.btn__link {
    width: 144px;
    height: 50px;
    color: #FFFFFF;
    background-color: #104B4F;
    cursor: pointer;
}

.start__image {
    position: relative;
}

.start__section {
    max-width: 420px;
    color: #FFFFFF;
}

.start__text {
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    color: #fff;
    margin-bottom: 35px;
}

.start__speach {
    font-family: "Mulish", sans-serif;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 35px;
    color: #fff;
}

.start__button {
    position: absolute;
    margin-top: 367px;
    margin-left: 113px;
}

.start__btn {
    width: 144px;
    height: 66px;
    background-color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 136%;
    letter-spacing: 0.1em;
    border-color: #fff;
    cursor: pointer;
}

.our-partners {
    display: flex;
    margin-top: 88px;
    gap: 40px;
    margin-left: 195px;
    margin-bottom: 80px;
    align-items: baseline;

}

.our-partners__text {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: #000;
    width: 157px;
    height: 100px;
}

.our-partners__item {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.stuff {
    background: #F0EBE5;
}

.stuff-card {
    display: flex;
}

.stuff-title {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 118%;
    color: #000;
    margin-bottom: 20px;
}

.stuff-text {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #000;
    margin-bottom: 30px;
}

.stuff-button {
    width: 144px;
    height: 65px;
    color: #FFFFFF;
    background-color: #104B4F;
    cursor: pointer;
}

.stuff__item {
    max-width: 420px;
    margin: auto;
}

.clients {
    background: #A7BCB8;
}

.clients-title {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 34px;
    padding-top: 68px;
    padding-bottom: 64px;
    line-height: 118%;
    text-align: center;
    color: #000;
}

.clients__text {
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 30px;
    line-height: 130%;
    text-align: center;
    color: #000;
}

.clients__person {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: #000;
}

.clients__item {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
}

.clients_opinion {
    display: flex;
    position: relative;
    justify-content: center;
    padding-bottom: 108px;
}

.clients_opinion-mobile {
    display: none;
}

.point {
    max-width: 104px;
    padding-bottom: 53px;
}

.family__title {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 118%;
    text-align: center;
    color: #000;
    margin-bottom: 16px;
}

.family__text {
    font-family: "Mulish", sans-serif;
    line-height: 175%;
    text-align: center;
    color: #000;
    width: 347px;
}

.family__be {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-top: 90px;
    margin-bottom: 45px;
}

.family__photo {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-left: 227px;
    width: 900px;
    gap: 25px;
    margin-bottom: 55px;
}

.family__social {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.family__item {
    padding-bottom: 90px;
}

.family__social__text {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.sellers {
    background: #A7BCB8;
}

.sellers__our {
    display: grid;
    justify-content: center;
    justify-items: center;
    padding-top: 90px;
    padding-bottom: 45px;
}

.sellers__title {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 118%;
    text-align: center;
    color: #000;
    margin-bottom: 16px;
}

.sellers__text {
    font-family: "Mulish", sans-serif;
    line-height: 175%;
    text-align: center;
    color: #000;
    width: 532px;
}

.sellers__inner {
    max-width: 350px;
    padding: 30px;
    background: #FFFBF2;
    text-align: center;
}

.sellers__item {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-bottom: 115px;
}

.sellers__item-mobile {
    display: none;
}

.sellers__inner__title {
    display: flex;
    justify-content: space-between;
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: #000;
    align-items: baseline;
    margin-top: 25px;
    margin-bottom: 10px;
}

.sellers__cost {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #000;
}

.sellers__inner__text {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #000;
    margin-bottom: 50px;
    text-align: left;
}

.sellers-button {
    width: 299px;
    height: 65px;
    color: #FFFFFF;
    background-color: #104B4F;
    cursor: pointer;
}

.get__img {
    display: block;
    width: 100%;
}

.get__item {
    position: relative;
}

.get__item__inner {
    position: absolute;
    width: 500px;
    top: 72px;
    left: 113px;
}

.get__title {
    font-family: "Mulish", sans-serif;
    font-weight: 300;
    font-size: 34px;
    line-height: 118%;
    color: #fff;
    padding-bottom: 20px;
}

.get__text {
    font-family: "Mulish", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 175%;
    color: #fff;
    padding-bottom: 36px;
}

.get__button {
    width: 299px;
    height: 65px;
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 136%;
    letter-spacing: 0.1em;
    text-align: center;
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

.footer__title {
    position: relative;
    text-align: center;
    margin: 53px auto;
    font-family: "Mulish", sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 119%;
    color: #000;
}

.footer__menu__list {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 70px;

}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 20px;
}

.item-a {
    order: 1;
}

.item-b {
    order: 2;
}

.email {
    width: 340px;
    height: 65px;
    background-color: transparent;
    text-align: left;
    padding-left: 25px;
    border-color: #0A474B;
}

.form-btn {
    width: 165px;
    height: 65px;
    color: #FFFFFF;
    background-color: #104B4F;
    cursor: pointer;
}

.footer__form {
    margin-left: 112px;
    margin-right: 112px;
}

.social-links {
    display: flex;
    gap: 20px;
}

.our-partners {
    display: flex;
}

.our-partners-mobile {
    display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .menu__link {
        display: none;
    }

    .start_img {
        width: 100dvw;
    }

    .start__section-main {
        position: relative;
        left: 0;
        top: 0;
        padding-right: 50px;
        padding-top: 30px;
        background: #f0ebe5;
    }

    .start__section {
        margin: 0 auto;
        padding-top: 30px;
    }

    .start__speach {
        font-family: "Mulish", sans-serif;
        font-weight: 400;
        font-size: 32px;
        line-height: 125%;
        text-align: center;
        color: #000;
        margin-left: 80px;
    }

    .start__text {
        width: 495px;
        font-family: "Mulish", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        text-align: center;
        color: #000;
    }

    .start__btn {
        width: 500px;
        height: 58px;
        margin-bottom: 60px;
        font-family: "Mulish", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.1em;
        text-align: center;
        color: #fff;
        background: #0a474b;
    }


    .our-partners {
        display: none;
    }

    .our-partners-mobile {
        display: flex;
        width: 100%;
        height: 300px;
        position: relative;
    }

    .our-partners__item {
        margin-top: 60px;
    }

    .swiper-pagination {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-bottom: 55px;
        z-index: 10;
    }

    .swiper-pagination-bullet {
        width: 9px;
        height: 9px;
        background: #0A474B;
        border: 2px solid #0A474B;
        cursor: pointer;
        opacity: 1;
        transition: all 0.3s;
    }

    .swiper-pagination-bullet-active {
        background: #FFFBF2;
        border-color: #0A474B;
    }

    .swiper-wrapper {
        height: 266px;
    }

    .our-partners__text {
        width: 304px;
        height: 56px;
        font-size: 16px;
        padding-bottom: 35px;
    }

    .text-slider {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
    }

    .swiper-slide {
        padding: 20px;
    }

    .stuff-card {
        display: flex;
        flex-direction: column;
    }

    .item-a {
        order: 2;
    }

    .item-b {
        order: 1;
    }

    .stuff__item {
        margin-left: 100px;
        margin-top: 35px;
        margin-bottom: 70px;
    }


    .stuff-title {
        margin-bottom: 10px;
    }

    .stuff-text {
        margin-bottom: 15px;
    }

    .clients_opinion {
        display: none;
    }

    .clients_opinion-mobile {
        display: flex;
        position: relative;
        justify-content: center;
        padding-bottom: 108px;

    }

    .clients__item-mobile {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;

    }

    .swiper-wrapper-clients {
        height: 266px;

    }

    .clients__text {
        width: 315px;
    }

    .clients-title {
        padding-top: 60px;
        padding-bottom: 0px;
    }

    .point {
        padding-bottom: 20px;
    }

    .family__photo {
        display: flex;
        margin: 0 auto;
        width: 600px;
    }

    .family__be {
        margin-top: 60px;
    }

    .family__social {
        margin-top: 30px;
    }

    .sellers__item {
        display: none;
    }

    .sellers__item-mobile {
        display: flex;
        padding-bottom: 450px;
    }

    .sellers__inner {
        margin-left: 200px;
        padding: 30px;
        background: #FFFBF2;
        text-align: center;
    }

    .sellers__our {
        padding-top: 40px;
        padding-bottom: 30px;
    }

    .get__item__inner {
        position: absolute;
        text-align: center;
        width: 400px;
        top:0px;
        left: 180px;
        padding-top: 10px;
    }








}