* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #FFFBF2;
}

.container {
    position: relative;
    max-width: 1366px;
    padding: 0;
    margin: 0 auto;
}

.start__section-main {
    position: absolute;
    left: 113px;
    top: 184px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;
}

.logo {
    margin-left: 57.5px;
}

.logo_text {
    display: none;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 0px 80px;
    margin-right: 57.5px;
}

.btn__link {
    width: 144px;
    height: 50px;
    color: #FFFFFF;
    background-color: #104B4F;
    cursor: pointer;
}

.start__image {
    position: relative;
}

.start__section {
    max-width: 420px;
    color: #FFFFFF;
}

.start__text {
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    color: #fff;
    margin-bottom: 35px;
}

.start__speach {
    font-family: "Mulish", sans-serif;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 35px;
    color: #fff;
}

.start__button {
    position: absolute;
    margin-top: 367px;
    margin-left: 113px;
}

.start__btn {
    width: 144px;
    height: 66px;
    background-color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 136%;
    letter-spacing: 0.1em;
    border-color: #fff;
    cursor: pointer;
}

.our-partners {
    display: flex;
    margin-top: 88px;
    gap: 40px;
    margin-left: 195px;
    margin-bottom: 80px;
    align-items: baseline;

}

.our-partners__text {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: #000;
    width: 157px;
    height: 100px;
}

.our-partners__item {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.stuff {
    background: #F0EBE5;
}

.stuff-card {
    display: flex;
}

.stuff-title {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 118%;
    color: #000;
    margin-bottom: 20px;
}

.stuff-text {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #000;
    margin-bottom: 30px;
}

.stuff-button {
    width: 144px;
    height: 65px;
    color: #FFFFFF;
    background-color: #104B4F;
    cursor: pointer;
}

.stuff__item {
    max-width: 420px;
    margin: auto;
}

.clients {
    background: #A7BCB8;
}

.clients-title {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 34px;
    padding-top: 68px;
    padding-bottom: 64px;
    line-height: 118%;
    text-align: center;
    color: #000;
}

.clients__text {
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: #000;
}

.clients__person {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: #000;
}

.clients__item {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
}

.clients_opinion {
    display: flex;
    position: relative;
    justify-content: center;
    padding-bottom: 108px;
}

.point {
    max-width: 104px;
    padding-bottom: 53px;
}

.clients__text {
    padding-bottom: 30px;
}

.family__title {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 118%;
    text-align: center;
    color: #000;
    margin-bottom: 16px;
}

.family__text {
    font-family: "Mulish", sans-serif;
    line-height: 175%;
    text-align: center;
    color: #000;
    width: 347px;
}

.family__be {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-top: 90px;
    margin-bottom: 45px;
}

.family__photo {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-left: 227px;
    width: 900px;
    gap: 25px;
    margin-bottom: 55px;
}

.family__social {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.family__social__text {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .menu__link {
        display: none;
    }

    .start_img {
        width: 100dvw;
    }

    .start__section-main {
        position: static;
        place-items: center;
        padding-right: 50px;
        padding-top: 30px;
        background: #f0ebe5;
    }

    .start__speach {
        font-family: "Mulish", sans-serif;
        font-weight: 400;
        font-size: 32px;
        line-height: 125%;
        text-align: center;
        color: #000;
        margin-left: 80px;
    }

    .start__text {
        width: 495px;
        font-family: "Mulish", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        text-align: center;
        color: #000;
    }

    .start__btn {
        width: 500px;
        height: 58px;
        margin-bottom: 60px;
        font-family: "Mulish", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.1em;
        text-align: center;
        color: #fff;
        background: #0a474b;
    }

    .our-partners {}


}